* {
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../resources/img/fundo.png) repeat-x;
}

/****** Layout ******/

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../resources/img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../resources/img/logo.png) no-repeat center;
    text-indent: -3000px;
}

/****** Barra de navegação ******/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    display: inline-flex;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../resources/img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/** Config do layout de três colunas **/

#conteudo {
    margin-top: 60px;
    display: flex;
    background: cadetblue;
    margin-bottom: 20px;
}

#primario,
#secundario {
    width: 270px;
}

#primario {
    background-color: yellow;
    margin-right: 15px;
}

#duas-colunas #primario {
    width: 555px;
    margin-right: 0px;
    background-color: yellow;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 auto;
    background-color: yellow;
}

#secundario {
    background-color: yellowgreen;
}

#lateral {
    width: 180px;
    order: -1;
    margin-right: 15px;
    background-color: violet;
}

#container-rodape {
    background: #294c71;
    padding: 20px;
    clear: both;
    text-align: center;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}