* {
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../resources/img/fundo.png) repeat-x;
}

/****** Layout ******/

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../resources/img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../resources/img/logo.png) no-repeat center;
    text-indent: -3000px;
}

/****** Barra de navegação ******/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    display: inline-flex;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../resources/img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/** Config do layout de três colunas **/

#conteudo {
    margin-top: 60px;
    display: flex;
    margin-bottom: 20px;
}

#primario,
#secundario {
    width: 270px;
}

#primario {
    margin-right: 15px;
}

#lateral {
    width: 180px;
    order: -1;
    margin-right: 15px;
}

/** Config do layout de duas colunas **/

#duas-colunas #primario {
    width: 555px;
    margin-right: 0px;
}

/** Config do layout de uma coluna **/

#uma-coluna #primario {
    width: 750px;
    margin: 0 auto;
}

/** Rodapé **/

#container-rodape {
    background: #294c71;
    padding: 20px;
    clear: both;
    text-align: center;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

/** Caixa **/
.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../resources/img/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
    margin-bottom: 8px;
}

h4 {
    padding: 5px;
    font-size: 14px;
}

h4.entrevista,
h4.destaque {
    font-size: 0.8em;
    display: inline;
    padding: 3px;
}

h4.entrevista {
    background: #b10333;
    color: #000;
}

h4.destaque {
    background: #69001d;
    color: #fff;
}

label,
input,
button {
    font-size: 14px;
}

button {
    margin: 5px auto;
    margin: 6px 0;
    padding: 1px;
    background: #b10333;
    color: #fff;
    border: 1px solid #b10333;
}

button:hover {
    background: #a1a1a1;
    color: #000;
    border: 1px solid #a1a1a1;
}

input[type="email"] {
    width: 156px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* formatando lista de noticias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

#lista-noticias li a img {
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
    margin-top: 5px;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.7em;
}

.materia-pequena {
    display: flex;
}

/*** Outras configs ***/

a {
    text-decoration: none;
    color: #294c71;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../resources/img/marcador.png) no-repeat left center;
    color: #a1a1a1;
    padding-left: 20px;
}

/* página fotos */
.materia-foto0 {
    text-align: center;
    margin-bottom: 10px;
}

.materia-foto0 p {
    text-align: justify;
}
